.carrossel {
    border: 1.8px solid lightgrey;
    margin: 2rem auto;
    width: 25vw;
    height: 50vh;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(145deg, #b0e0e6, #72d0dd, #31cade);
    box-shadow: 10px 10px 15px black;
}

.container {
    width: 24.7vw;
    height: 50vh;
    border-radius: 15px;
    display: flex;
    align-items: center;
    position: absolute;
    overflow: hidden;
}

.item {
    width: 24.7vw;
    height: 50vh;
    transition: all 01s;
}

.item img {
    width: 24.7vw;
    height: 50vh;
    padding: 30px;
}

.acao {
    display: flex;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
    height: 100%;
    border-radius: 15px;
    transition: all 0.7s;
    z-index: 1;
    color: white;
    text-shadow: 2px 2px 5px black;
}

.item:first-child {
    margin-left: -100%;
}

.acao:hover {
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.botao1 {
    border-radius: 13px 0 0 13px;
}

.botao2 {
    border-radius: 0 13px 13px 0;
}

@media (min-width: 350px) {
    .carrossel {
        width: 85vw;
        height: 40vh;
    }

    .container {
        width: 84.6vw;
        height: 40vh;
    }

    .item {
        width: 84vw;
        height: 40vh;
    }

    .item img {
        width: 84vw;
        height: 40vh;
    }
}

@media (min-width: 600px) {
    .carrossel {
        width: 69vw;
        height: 45vh;
    }

    .container {
        width: 68.7vw;
        height: 45vh;
    }

    .item {
        width: 69vw;
        height: 45vh;
    }

    .item img {
        width: 69vw;
        height: 45vh;
    }
}

@media (min-width: 800px) {
    .carrossel {
        width: 60vw;
    }

    .container {
        width: 59.7vw;
    }

    .item {
        width: 60vw;
    }

    .item img {
        width: 60vw;
    }
}

@media (min-width: 1024px) {
    .carrossel {
        width: 25vw;
        height: 45vh;
    }

    .container {
        width: 24.8vw;
        height: 45vh;
    }

    .item {
        width: 24.6vw;
        height: 45vh;
    }

    .item img {
        width: 24.6vw;
        height: 45vh;
    }
}
